
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Schedule Builder</title>
</head>

<body>
	<h1>Welcome to Schedule Builder 3000</h1>

	<h2>Build Schedule</h2>
	<ul>
		<li>To edit current schedule select <a href="/editSchedule">Edit Schedule</a></li>
		<li>To view and save current schedule select <a href="/view">View Schedule</a></li>
	</ul>
	<hr>

	<h2>Manage</h2>
	<ul>
		<li>To edit and view list of available courses <a href="/editCourses">Edit Courses</a></li>
	</ul>

	<hr>
</body>

</html>
