<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>View Current Schedule</title>
</head>

<body>
	<h1>Current Schedule</h1>
	<div><%- currentScheduleTable %></div>

</body>

</html>
